@import "nprogress/nprogress.css";
@import "tailwindcss";

@theme {
  /* Custom theme */
  --color-zoho-red: #e42527;
  --color-zoho-green: #089949;
  --color-zoho-blue: #226db4;
  --color-zoho-yellow: #f9b21d;
  --color-zoho-light-yellow: #fed600;
  --color-zoho-black: #000000;
  --color-zoho-dark-gray: #333333;
  --color-zoho-light-gray: #fafafa;
  --color-zoho-white: #ffffff;
  --color-zoho-beige: #fff5e7;
}

/* NProgress */
#nprogress .bar {
  background: linear-gradient(
    to right,
    var(--color-zoho-yellow),
    var(--color-zoho-red),
    var(--color-zoho-blue),
    var(--color-zoho-green)
  ); /* ou qualquer outra */
  height: 3px;
}
