@import 'nprogress/nprogress.css';
@import "tailwindcss";

@theme {
  /* Custom theme */
  --color-zoho-red: #E42527;
  --color-zoho-green: #089949;
  --color-zoho-blue: #226DB4;
  --color-zoho-yellow: #F9B21D;
  --color-zoho-black: #000000;
  --color-zoho-dark-gray: #333333;
  --color-zoho-light-gray: #FAFAFA;
  --color-zoho-white: #FFFFFF;
}

/* NProgress */
#nprogress .bar {
  background: var(--color-zoho-blue); /* ou qualquer outra */
  height: 3px;
}