@import "nprogress/nprogress.css";
@import "tailwindcss";

@theme {
  /* Custom theme */
  --color-zoho-red: #e42527;
  --color-zoho-green: #089949;
  --color-zoho-blue: #226db4;
  --color-zoho-yellow: #f9b21d;
  --color-zoho-light-yellow: #fed600;
  --color-zoho-black: #000000;
  --color-zoho-dark-gray: #333333;
  --color-zoho-light-gray: #fafafa;
  --color-zoho-white: #ffffff;
  --color-zoho-beige: #fff5e7;
}

/* NProgress */
#nprogress .bar {
  background: linear-gradient(
    to right,
    var(--color-zoho-yellow),
    var(--color-zoho-red),
    var(--color-zoho-blue),
    var(--color-zoho-green)
  ); /* ou qualquer outra */
  height: 3px;
}

/* Hero animations */
.hero-title {
  animation: slideDown 1s ease-in-out;
}

.hero-description {
  animation: slideUp 1s ease-in-out;
}

.hero-btn {
  animation: slideUp 1.5s ease-in-out;
}

.hero-image {
  animation: slideUp-2 1.5s ease-in-out;
}

.benefits-title.in-view {
  animation: slideDown 1s ease-in-out;
}

.animate-in.in-view {
  animation: slideDown 1s ease-in-out;
}

.benefits-box.in-view {
  animation: slideUp 1s ease-in-out;
}

.zohub-box.in-view {
  animation: slideLeft 1s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: -100vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp-2 {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
